h1 {
    color: rgb(0, 36, 36);
    position: relative;
    right: -50px;
}

img {
    width: 200px;
    height: auto;
    position: relative;
    right: -50px;
}

.focus {
    float: right;
    margin-right: 10%;
    margin-top: 0;
}