body {
    background-color: rgb(0, 60, 255);
}

input {
    background-color: aqua;
    padding: 3px 3px;
    margin: 2px;
    border-width: 3px;
    border-color: rgb(0, 36, 36);
}

* {
    font-family: fantasy;
}