$color-y1: rgb(168, 160, 0);
button {
    color: lighten($color-y1, $amount: 10%);
    background-color: darken($color-y1, $amount: 10%);
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: .4em .6em;
    box-shadow: 0 .3em $color-y1;
    border-radius: 8px;
    outline: none;
}

button:hover {
    background-color: darken($color-y1, $amount: 15%);
}

button:active {
    background-color: darken($color-y1, $amount: 20%);
    box-shadow: 0 .08em darken($color-y1, $amount: 22%);
    transform: translateY(.22em);
}