/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(1, 56, 13);
    background-color: rgb(76, 228, 109);
}

input {
    margin: 3px;
    padding: 1px 2px;
    border-top-color: rgb(1, 56, 13);
    border-right-color: rgb(0, 87, 19);
    border-bottom-color: rgb(2, 138, 31);
    border-left-color: rgb(3, 184, 42);
    background-color: rgb(142, 250, 165);
}